* {
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

#card {
    position: relative;
    width: 25%;
    border-radius: 20px;
    overflow: hidden;
    aspect-ratio: 4/6;
}
#card img {
    width: 100%;
    object-fit: cover;
}
.sfumatura {
    display: none;
    width: 100%;
    height: 100%;
    position: absolute;
    background: rgb(0,0,0);
    background: -moz-linear-gradient(0deg, rgba(0,0,0,1) 3%, rgba(255,255,255,0) 100%);
    background: -webkit-linear-gradient(0deg, rgba(0,0,0,1) 3%, rgba(255,255,255,0) 100%);
    background: linear-gradient(0deg, rgba(0,0,0,1) 3%, rgba(255,255,255,0) 100%);
}
#card:hover .sfumatura {
    display: block;
}
#save {
    z-index: 2;
    display: none;
    position: absolute;
    right: 10px;
    top: 10px;
    background-color: rgb(211, 12, 12);
    border-radius: 30px;
    width: 55px;
    height: 30px;
    text-align: center;
    padding-top: 3px;
    margin-top: 2px;
    color: #fff;
    font-weight: bold;
}

.container {
    display: none;
    position: relative;
    width: 100%;  
}
.icon {
    background-color: #fff;
    position: absolute;
    bottom: 15px;
    height: 30px;
    opacity: 0.8;
}
.icon img {
    width: 100%;
    object-fit: cover; 
}

#arrow {
  width: 145px;  
  border-radius: 30px;
}
#arrow img {
    width: 16px;
    padding-top: 5px;
    margin-left: 5px;
}
#arrow span {
    position: absolute;
    color: #000000;
    font-size: 14px;
    margin-left: 3px;
}
#upload {
    right: 60px;
}
#dots {
    right: 15px;
}
.circle {
    width: 30px;
    border-radius: 30px;
    padding: 8px;
}
#card:hover .container {
    display: block;
}
#card:hover #save {
    display: block;
}

#save:hover {
    background-color: #fff;
    color: #000; 
}

#upload:hover,
#dots:hover,
#arrow:hover {
    opacity: 1;
}
